/* NAVBAR */
.header .navbar.bg-color{
    background-color: transparent;
}

.header .nav-item .nav-link{
    color: #bc1b1b;
}

.header .nav-item .nav-link:hover span,
.header .nav-item .nav-link:focus span,
.header .nav-item .nav-link:active span  {
    background-color: #bc1b1b;
    border-radius: 40px;
    color: #fff;
    padding: 5px 7px;
}

.navbar-nav .nav-link.active  {
    background-color: #bc1b1b;
    border-radius: 40px;
    color: #fff !important;
    padding: 5px 7px;
}

.header .dropdown-menu .dropdown-item:hover,
.header .dropdown-menu .dropdown-item:focus,
.header .dropdown-menu .dropdown-item:active{
    color: #fdfdfd;
    background-color: #bc1b1b9a;
}

.navbar-toggler{
    border: none !important;
    box-shadow: none !important;
}

.btn.button-nav {
    background-color: #bc1b1b;
    color: #fff;
}

/* section */
.btn.button-nav {
    background-color: #bc1b1b;
    color: #fff;
}

.btn.button-nav:hover,
.btn.button-nav:active,
.btn.button-nav:focus {
    background-color: #3d0a0f;
    color: #fff;
}

#header,
.product-container.container-fluid {
    background-color:  #ffbec5;
}

.product-container .product-intro-sentence {
    color: #530c0c;
}


.product-container .product-name {
    color: #bc1b1b;
}

.product-container .description,
.product-container .ingredients-list .text,
.product-container .details-name {
    color: #530c0c;
}

.product-container .ingredients-list i {
    color: #530c0c;
}

.product-container .ingredients-title {
    color: #530c0c;
}

.product-container .img-bg .image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-container .details {
    color: #bc1b1b;
}


.product-container .btn.btn-add-cart {
    background: #bc1b1b;
    color: #f2f2f2;
}

.product-container .btn.btn-add-cart:hover, 
.product-container .btn.btn-add-cart:focus,
.product-container .btn.btn-add-cart:active {
    background: transparent ;
    border: 2px solid #bc1b1b;
    color: #bc1b1b;
}
